**1. Функція без параметрів**

Створіть функцію `show_menu()`, яка приймає перелік страв, наприклад ['Піца', 'Паста', 'Салат'] і виводить меню ресторану в наступному вигляді:
```
=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
=============
```

Викличте цю функцію на списку ["Суп грибний", "Котлета по-київськи", "Лимонад"].

In [14]:
def show_menu(dishes):
    print("=== МЕНЮ ===")
    for i, dish in enumerate(dishes, start=1):
        print(f"{i}. {dish}")
    print("=============")
show_menu(["Суп грибний", "Котлета по-київськи", "Лимонад"])

=== МЕНЮ ===
1. Суп грибний
2. Котлета по-київськи
3. Лимонад
=============


---

**2. Функція з параметром**

Створіть функцію `print_square(n)`, яка виводить квадрат числа.

Наприклад: `print_square(5)` → "Квадрат числа 5 = 25"

Викличте її з різними числами.

In [8]:
def print_square(n):
    print(f"Число {n} в квадраті буде: {n ** 2}")
print_square(6)
print_square(11)
print_square(4)

Число 6 в квадраті буде: 36
Число 11 в квадраті буде: 121
Число 4 в квадраті буде: 16


---

**3. Функція з поверненням значення**

Створіть функцію `multiply(a, b)`, яка повертає добуток двох чисел.

Викличте функцію на власноруч заданих значеннях та виведіть результат.

In [11]:
def multiply(a, b):
    return a * b
result = multiply(6, 4)
print(f"Добуток: {result}")

Добуток: 24


---

**4. Функція пошуку максимумального значення**

Створіть функцію `find_max(numbers)`, яка:
- Приймає список чисел
- Повертає найбільше число в списку

Протестуйте на списку `[15, 42, 8, 23, 56, 19]`.

In [12]:
numbers = [15, 42, 8, 23, 56, 19]
def find_max(numbers):
    return max(numbers)
result = find_max(numbers)
print(f"Найбільше число: {result}")

Найбільше число: 56


---

**5. Функція з умовами**

Створіть функцію `check_grade(grade)`, яка:
- Приймає оцінку (число)
- Повертає "Здав" якщо grade >= 60
- Повертає "Не здав" якщо grade < 60

Протестуйте на різних оцінках.

In [22]:
def check_grade(grade):
    if grade >= 60:
        return "Здав"
    else:
        return "Не здав"
result = check_grade(62)
print(result)

Здав